.student-information {
    width: 670px;
    margin-right: auto;
    margin-left: auto;
}

.student {
    width: 200px;
    background-color: rgba(13%, 29%, 73%, 0.3);
    border-bottom: 5px groove rgba(13%, 29%, 73%, 0.3);
    border-right: 5px groove rgba(13%, 29%, 73%, 0.3);
    border-top: 5px ridge rgba(13%, 29%, 73%, 0.3);
    border-left: 5px ridge rgba(13%, 29%, 73%, 0.3);
    margin-top: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}

.information {
    width: 200px;
    display: inline-block;
    background-color: rgba(13%, 29%, 73%, 0.3);
    border-bottom: 5px groove rgba(13%, 29%, 73%, 0.3);
    border-right: 5px groove rgba(13%, 29%, 73%, 0.3);
    border-top: 5px ridge rgba(13%, 29%, 73%, 0.3);
    border-left: 5px ridge rgba(13%, 29%, 73%, 0.3);
    border-radius: 35px;
    box-shadow: 0 0 20px grey;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}

.name-student {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

.img-student {
    width: 100%;
    border-radius: 10px;
}

.img-div-student {
    width: 180px;
    max-height: 180px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    overflow: hidden;
}

.add-information {
    width: 1000px;
    min-height: 150px;
    background-color: rgba(13%, 29%, 73%, 0.3);
    border-bottom: 5px groove rgba(13%, 29%, 73%, 0.3);
    border-right: 5px groove rgba(13%, 29%, 73%, 0.3);
    border-top: 5px ridge rgba(13%, 29%, 73%, 0.3);
    border-left: 5px ridge rgba(13%, 29%, 73%, 0.3);
    border-radius: 35px;
    box-shadow: 0 0 20px grey;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding: 10px;
}