<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="for_index.css">
	<title></title>
</head>
<body>
	<div class="top-div"></div>
	<div class="students">
		<div class="student">
			<div class="name-student"><a href="show.html">Имя</a></div>
			<div class="img-student">Фото</div>
		</div>
		<div class="student">
			<div class="name-student"><a href="show.html">Имя</a></div>
			<div class="img-student">Фото</div>
		</div>
		<div class="student">
			<div class="name-student"><a href="show.html">Имя</a></div>
			<div class="img-student">Фото</div>
		</div>
		<div class="student">
			<div class="name-student"><a href="show.html">Шкальник</a></div>
			<div class="img-student">Фото</div>
		</div>
		<div class="student">
			<div class="name-student"><a href="show.html">Имя</a></div>
			<div class="img-student">Фото</div>
		</div>
		<div class="student">
			<div class="name-student"><a href="show.html">Имя</a></div>
			<div class="img-student">Фото</div>
		</div>
		<div class="student">
			<div class="name-student"><a href="show.html">Имя</a></div>
			<div class="img-student">Фото</div>
		</div>
		<div class="student">
			<div class="name-student"><a href="show.html">Имя</a></div>
			<div class="img-student">Фото</div>
		</div>
		<div class="student">
			<div class="name-student"><a href="show.html">Имя</a></div>
			<div class="img-student">Фото</div>
		</div>
		<div class="student">
			<div class="name-student"><a href="show.html">Имя</a></div>
			<div class="img-student">Фото</div>
		</div>
		<div class="student">
			<div class="name-student"><a href="show.html">Имя</a></div>
			<div class="img-student">Фото</div>
		</div>
	</div>
	<div class="bootom-div"></div>
</body>
</html>
