<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="fshow.css">
    <link rel="stylesheet" type="text/css" href="fmain.css">
    <title></title>
</head>
<body>
<div class="top-div">
    <a href="..\main\index.html">
        <div class="main-div">Главная</div>
    </a>
    <a href="index.html">
        <div class="main-div">Ученики</div>
    </a>
    <a href="..\robots\index.html">
        <div class="main-div">Роботы</div>
    </a>
</div>
<div class="student-information">
    <div class="information">Призовых мест выйграно: 9999</div>
    <div class="student">
        <div class="img-div-student"><img class="img-student" src="img\7.jpg"></div>
        <div class="name-student">Миша Симаков</div>
    </div>
    <div class="information">Роботов собрано: 9999</div>
</div>
<div class="add-information">
    Миша Симаков победитель по жизни в хорошем смысле. Он поучавствовал в большом количестве соревнований. Он побывал в Санкт-Петербурге, Москве, Морти-Рики, Таганрог, Цимлянск, Ростов-на-Дону.
</div>







<div class="bottom-div"></div>
</body>
</html>