<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="fshow.css">
    <title></title>
</head>
<body>
<div class="top-div">
    <div class="main-div"><a>Главная</a></div>
    <div class="main-div"><a href="index.html">Ученики</a></div>
    <div class="main-div"><a>Роботы</a></div>
</div>
<div class="student-information">
    <div class="information">Призовых мест выйграно: </div>
    <div class="student">
        <div class="img-student">Фото</div>
        <div class="name-student">Имя</div>
    </div>
    <div class="information">Роботов собрано: </div>
</div>
<div class="add-information">Такойто робот</div>







<div class="bottom-div"></div>
</body>
</html>
