<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="for_show.css">
	<title></title>
</head>
<body>
	<div class="top-div"> 

	</div>
	<div class="student">
		<div class="name-student">Имя</div>
		<div class="img-student">Фото</div>
	</div>
	<div class="achievements">
		Победитель по жизни
		Победитель по жизни
		Победитель по жизни
		Победитель по жизни
		Победитель по жизни
		Победитель по жизни
		Победитель по жизни
		Победитель по жизни
		Победитель по жизни
		Победитель по жизни
		Победитель по жизни
	</div>
</body>
</html>
