<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="..\fshow.css">
    <link rel="stylesheet" type="text/css" href="..\fmain.css">
    <title></title>
</head>
<body>
<div class="top-div">
    <a href="..\main\index.html">
        <div class="main-div">Главная</div>
    </a>
    <a href="..\students\index.html">
        <div class="main-div">Ученики</div>
    </a>
    <a href="..\index.html">
        <div class="main-div">Роботы</div>
    </a>
</div>
<div class="robot-information">
    <div class="information">Призовых мест выиграно: 9999</div>
    <div class="robot">
        <img class="img-robot" src="..\img\6.jpg">
        <div class="name-robot"><h2>Робот</h2></div>
    </div>
    <div class="information">В соревнованих учавствовал: 9999</div>
</div>
<div class="add-information">
    Этого робота собрал <a href="..\students\show.html">Миша Симаков</a>.
</div>
<div class="robot-procuring">
    <div class="robot-program"><p>Программа робота</p></div>
    <div class="robot-model"><p>Модель робота</p></div>
</div>

<div class="robot-characteristic">
    <h2>Характеристики</h2>
    <ul>
        <li>47 г.</li>
        <li>Длина: 47 см.</li>
        <li>Ширина: 47 см.</li>
        <li>Высота: 48 см.</li>
    </ul>
</div>
<div class="robot-achievements">
    <h2>Достижения</h2>
    <ul>
        <li>1 место на сумо в городе Волгодонск</li>
        <li>1 место на Робофинисте в городе Санкт-Петербург</li>
        <li>1 место где то ещё</li>
        <li>1 место ещё где то</li>
        <li>Ещё 1 место где то</li>
    </ul>
</div>







<div class="bottom-div"></div>
</body>
</html>