<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="styles.robots.css">
	<meta charset="UTF-8">
	<title>robots</title>
</head>
<body>
	<div class="menu">
		
	</div>

<!-- список роботов -->
	<a href="ghghg"><div class = "robot">
		<img src="img/add robot.png" class="add">
		<h2 class="title">добавить конструкцию</h2>
	</div></a>

	<a href="show.robots.html"><div class = "robot">
		<img class = "robimg" src="img/lego robot.png">
		<h2 class="title">Манипулятор</h2>

	</div></a>

	<div class = "robot">
		
	</div>

	<div class = "robot">
		
	</div>

	<div class = "robot">
	
	</div>

	<div class = "robot">
		
	</div>

	<div class = "robot">
		
	</div>
</body>
</html>
