<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="fnewrobot.css">
    <link rel="stylesheet" type="text/css" href="fmain.css">
    <title></title>
</head>
<body>
<div class="top-div">
    <a href="..\main\index.html">
        <div class="main-div">Главная</div>
    </a>
    <a href="..\students\index.html">
        <div class="main-div">Ученики</div>
    </a>
    <a href="index.html">
        <div class="main-div">Роботы</div>
    </a>
</div>

<div>
    <h3>Добавление робота</h3>
</div>
<form>
    <input class="reg-input" placeholder="Название робота">
    <textarea class="reg-input" placeholder="Описание робота"></textarea>
    <textarea class="reg-input" placeholder="Характеристика робота"></textarea>
    <textarea class="reg-input" placeholder="Достижения робота"></textarea>
    <h4>Программа робота</h4>
    <input type="file" class="reg-input">
    <h4>Модель робота</h4>
    <input type="file" class="reg-input">
    <h4>Фотография робота</h4>
    <input type="file" class="reg-input">
    <input class="reg-input" type="submit">
</form>

<div class="bottom-div"></div>
</body>
</html>