<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="styles.robots.css">
	<meta charset="UTF-8">
	<title>Манипулятор</title>
</head>
<body>
<div class="menu"></div>
	<div class="photo central">
		<img src="img/lego robot.png">
	</div>
	<div class="description">
		<h3 class="data">24.11.2017</h3>
		<h1 class="name">Манипулятор</h1>
		<h2 class="advantages">быстрый, мобильный, поднимает до 500гр</h2>
		<h2>Программа: <a href="program/Azbuka_Morze.ev3">Manipulyator.ev3</a></h2>
		<h2>Конструкция: <a href="program/Machina.lxf">Manipulyator.lxf</a></h2>
	</div>
	<div class="user">
		<img src="img/user.png">
		<h2>Вася Пупкин</h2>
		<h3>15 конструкций, 3 победы</h3>
	</div>
</body>
</html>
