<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="styles.robots.css">
	<meta charset="UTF-8">
	<title>Манипулятор</title>
</head>
<body>
<div class="menu"></div>
	<div class="photo central">
		<img src="img/lego robot.png">
	</div>
	<div class="description">
		<h3 class="data">24.11.2017</h3>
		<h1 class="name">Манипулятор</h1>
		<h2 class="advantages">быстрый, мобильный, поднимает до 500гр</h2>
		<h2>Программа: <a href="program/Azbuka_Morze.ev3">Manipulyator.ev3</a></h2>
		<h2>Конструкция: <a href="program/Machina.lxf">Manipulyator.lxf</a></h2>
	</div>
	<div class="user">
		<img src="img/user.png">
		<h2>Вася Пупкин</h2>
		<h3>15 конструкций, 3 победы</h3>
	</div>
	<hr color = "lightgrey">
	<div class="declaration">
		<h2>
			Робот манипуятор, отличная вещь если вы очень ленивый. Может поднимать грузы до 500гр. Берите конструкцию и пользуйтесь!<br>
			Бла<br>
			Бла<br>
			Бла<br>
			Бла<br>
			Посидели три кота<br>
			Просто чтобы описание длинное было<br>
		</h2>
	   <!-- Технические характеристики -->
		<h1>Технические характеристики</h1>
		<ul>
		<li><h2>Микропроцессор: Lego Mindstorms EV3</h2></li>
		<li><h2>Используемые детали: средний мотор(1шт.), большой мотор(3шт.) и другие детали из набора Lego Mindstorms Education EV3 </h2></li>
		<li><h2>Размеры: 20 на 20 на 20см</h2></li>
		<li><h2>Вес: 1000гр</h2></li>
		<li><h2>Скорость: средняя</h2></li>
		</ul>
	</div>

	<div class="progress">
		<h1>Достижения</h1>

		<ul class="list2">
			<li>1 место на соревнованиях Робофинист</li>
			<li>2 место на WRO в Коста-Рике</li>
			<li>1 место на RRO в Казани</li>
			<li>Лауреат Академии Юных Исследователей в номинации Атомная Наука и Техника</li>
		</ul>
	</div>
</body>
</html>
