.add {
margin: 10px;
width: 200px;
height: 200px;
border-radius: 100px;
}

.add:hover {
 width: 210px;
 height: 210px;
}

.menu {
	background-color: lightgray;
	width: 100%;
	height: 150px;
}

.robot {
	display: inline-block;
    margin: 20px;
    margin-left: 50px;
    vertical-align: top;
    font-size: 16px;
    text-align: center;
	background-color: rgba(13%, 29%, 73%, 0.3);
	width: 250px;
	height: 325px;
	border-radius: 10px;
}

.robimg {
	margin-top: 10px;
	width: 200px;
	height: 225px;
	border-radius: 10px;
	border: 2px solid lightgray;
}
.title {
	margin: 0px;
	color: gray;
}
a {
	text-decoration: none;
	color: gray;
}
a > .title:active {
	color: black;
}

/*   стили для описание робота  */

.photo {
	width: 500px;
	height: 500px;
	margin: 5px;
	margin-left: 40px;
}
.description {
	border: 2px solid lightgray;
	border-radius: 5px;
	position: absolute;
	left: 650px;
	top: 175px;
	padding: 10px;
	color: #393939;
	width: 600px;
	height: 300px;
}
.name {
	font-size: 3em;
	text-align: left;
}
.data {
	text-align: right;
	color: lightgray;
	float: right;
}

/* стили для описания пользователя */

.user {
	border: 2px solid lightgray;
	border-radius: 5px;
	position: absolute;
	left: 650px;
	top: 500px;
	padding: 10px;
	color: #393939;
	width: 600px;
	height: 100px;
}
.user > img {
	width: 100px;
	height: 100px;
	border-radius: 200px;
	border: 2px solid lightgray;
	float: left;
}
.user > h2 {
	position: absolute;
	left: 150px;
	width: 200px;
}
.user > h3 {
	position: absolute;
	left: 100px;
	color: darkgray;
	margin: 50px;
}

/* технические характеристики и полное описание */
