<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="findex.css">
    <link rel="stylesheet" type="text/css" href="fmain.css">
    <title></title>
</head>
<body>
<div class="top-div">
    <a href="index.html">
        <div class="main-div">Главная</div>
    </a>
    <a href="..\students\index.html">
        <div class="main-div">Ученики</div>
    </a>
    <a href="..\robots\index.html">
        <div class="main-div">Роботы</div>
    </a>
</div>

<h2>Информация о роботах и участниках учавствующих в соревнованиях</h2>
<div class="information">Этот сайт создан для предоставления информабла-бла-бла-бла-бла</div>

<div class="bottom-div"></div>
</body>
</html>